
.label--category-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #0f3e99;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  transition: background 0.3s;
}

.label--category-button:hover {
  background-color: #3f3f40;
}
